<!-- <- include("../layout.ejs")%> -->
<%- include("../layouts/userHeader") %>
<%- include("../layouts/navLogined.ejs") %>


  
  <!-- cart + summary -->
  <section class="bg-light my-5">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-9">
          <div class="card border shadow-0">
            <div class="m-4">
              <h4 class="card-title mb-4">Your shopping cart</h4>
                <div class="container">
                  <div id="addressMessage"></div>
                    <% address.forEach((data)=>{ %>
                    <div class="shadow my-4">
                        <div class="form-check py-1 mx-4">
                            <input class="form-check-input addressValue"  type="radio" name="address"  address-id="<%= data._id%>">
                              <p>
                                <strong> <%= data.name %></strong>, <small><%= data.houseName%>, <%= data.street %>, <%= data.city %>, <%= data.state %>, <%= data.phone %>, <%= data.postalCode %></small> 
                              </p>
                        </div>
                        
                    </div>
                    <% }) %>
                    <div class=" pt-1 d-flex justify-content-center">
                      <button type="button" class="btn btn-primary text-center" data-toggle="modal" id="addButton" data-target="#myModal">
                          ADD
                      </button>
                  </div>
                </div>
              
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Add Address</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                  <!-- Your form fields for address properties go here -->
                  <form id="addressFrom" method="post" >
                      <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" name="name" required>
                      </div>
                      <div class="form-group">
                      <label for="houseName">House Name:</label>
                      <input type="text" class="form-control" id="houseName" name="houseName" required>
                      </div>
                      
                      <div class="form-group">
                      <label for="houseName">street:</label>
                      <input type="text" class="form-control" id="street" name="street" required>
                      </div>
                      <div class="form-group">
                      <label for="houseName">City:</label>
                      <input type="text" class="form-control" id="city" name="city" required>
                      </div>
                      <div class="form-group">
                      <label for="houseName">state:</label>
                      <input type="text" class="form-control" id="state" name="state" required>
                      </div>
                      <div class="form-group">
                          <div class="secondary"> <span id="error" ></span></div>
                      <label for="houseName">Phone:</label>
                      <input type="number" class="form-control" id="phoneAddress"  name="phone" required>
                      </div>

                      <div class="form-group">
                      <label for="houseName">PostalCode:</label>
                      <input type="number" class="form-control" id="postalCode" name="postalCode" required>
                      </div>
                      <input type="submit" class="btn btn-primary" value="Submit" />
                      <!-- Add more fields for other properties -->
                  </form>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                  
                  </div>
              </div>
              </div>
          </div>

          <!-- modal closed -->



            <div class="border-top pt-4 mx-4 mb-4">
              <p><i class="fas fa-truck text-muted fa-lg"></i> Payment Method </p>
              <!-- <p class="text-muted">
              </p> -->
              <div class="shadow my-2">
                <div id="methodMessage"></div>
                <div class="form-check py-1 mx-4">
                    <input class="form-check-input" type="radio" name="payment"  IsMethod="COD" id="flexCheckDefault">
                      <p>
                        <strong> Cash on Delivery</strong>
                      </p>
                </div>
                <div class="form-check py-1 mx-4">
                    <input class="form-check-input" type="radio" name="payment"  IsMethod="InternetBanking" id="flexCheckDefault">
                      <p>
                        <strong> Internet Banking </strong>
                      </p>
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        <div class="col-lg-3">
          <div class="card mb-3 border shadow-0">
            <!-- <div class="card-body"> -->
              <!-- <form >
                <div class="form-group">
                  <label class="form-label">Have coupon?</label>
                  <div class="input-group">
                    <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                    <button class="btn btn-light border">Apply</button>
                  </div>
                </div>
              </form> -->
              <div class="card-body">
                <h6 class="fw-bold ">coupon Updation</h6>
                <div class="width-100 my-3">
                  <select name="coupon" id="coupon" onchange="myfunction('coupon')"style="width: 100%; background-color: white;">
                    <option value = "not" >no coupon</option>
                    <% coupon?.forEach((data)=>{%>
                      <option value = "<%=data.couponName%>" ><%= data.couponName%></option>
                   <% }) %>
                        

                    </select>
                </div>
                <span class="text text-success fw-bold" id="msg"></span>
            </div>
            <!-- </div> -->
          </div>
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2">₹ <%=price  %></p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">coupon:</p>
                <p class="mb-2 text-success" id="couponPrice">₹ 0</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">Discount:</p>
                <p class="mb-2 text-success"><%= discount %>%</p>
              </div>
              <!-- <div class="d-flex justify-content-between">
                <p class="mb-2">TAX:</p>
                <p class="mb-2">$14.00</p>
              </div> -->
              <hr />
              <div class="d-flex ">
                <p class="mb-2">Total price:</p>
                <p class="mb-2 fw-bold pl-3">₹  <div class="price">  <%=totalPrice %></div><div id="temp"></div> </p>
              </div>
  
              <div class="mt-3">
                <% if(locals.quantity) {%>
                  <form  id="makePurchase">
                    <input type="hidden" name="quantity" productId="<%= Id %>" value="<%= quantity %>">
                    <button class="btn btn-success w-100 shadow-0 mb-2"  id="purchaseSingle"> Make Purchase</button>
                  </form>
                  <% }else{ %>
                <form id="" >
                  <button class="btn btn-success w-100 shadow-0 mb-2"  type="submit" id="purchase"> Make Purchase </button>
                </form>
                <% } %>
                <a href="/" class="btn btn-light w-100 border mt-2"> Back to shop </a>
              </div>
            </div>
          </div>
        </div>
        <!-- summary -->
      </div>
    </div>
  </section>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
  const phoneNO = document.getElementById("phoneAddress")
  const errMes = document.getElementById("error")
  const Purchase = document.getElementById("purchase");
  const purchaseSingleProduct = document.getElementById("purchaseSingle");
  let COUPON_NAME;
  let AMOUNT;
  const amount = document.querySelector(".price").innerText;

    const addressPost = document.getElementById("addressFrom");
    const radioInputs = document.getElementsByName("address")
    const paymentMethod = document.getElementsByName("payment")
    
    document.getElementById("addButton").addEventListener("click", function() {
      $('#myModal').modal('show');
    });

    
    async function myfunction(value){
      const amount = document.querySelector(".price")
      const name = document.getElementById(value).value;
      const msg = document.getElementById("msg")
      const URL = '/couponAdd';
      const headers = {
        "Content-Type": "application/json"
      }
      const body = {
        name:name,
        amount:amount.innerText
      }      
      const response = await fetch(URL,{ method:"POST",headers:headers,body:JSON.stringify(body) })
      if(response.ok){
        const data = await response.json()
        document.getElementById("couponPrice").innerHTML=`₹ ${data.couponValue}`
        document.getElementById("temp").innerHTML=`(₹${data.amount}) `
        msg.innerHTML ="coupon added"
        AMOUNT = data.amount;
        COUPON_NAME = name;
      }else{
        const data = await response.json()
        document.getElementById("temp").innerHTML=` `
        console.log(data)
        msg.innerHTML ="not change"
        
      }
    }

    
    
    addressPost.addEventListener("submit",function(e){
        e.preventDefault();
        if(phoneNO.value.length !== 10){
           return errMes.innerHTML = "not 10 digit";
        }else{

          addressPost.action ="/addAddress"
                  addressPost.method="post"
                  addressPost.submit();
        }

    })

   
    let addressId
    for(let i = 0 ; i<radioInputs.length;i++){
      radioInputs[i].addEventListener("click",function(){
        if(radioInputs[i].checked){
          addressId = radioInputs[i].getAttribute("address-id")
        }
      })
    }
  
    let method
    for(let i = 0 ; i<paymentMethod.length;i++){
      paymentMethod[i].addEventListener("click",function(){
        if(paymentMethod[i].checked){
          method = paymentMethod[i].getAttribute("IsMethod")
        }
      })
    }
    
    Purchase?.addEventListener("click",async (e)=>{
     const amount = document.querySelector(".price").innerText
    e.preventDefault();
    if(!addressId){
      return document.getElementById("addressMessage").innerHTML = "you want select address"
    }
    if(!method){
      return document.getElementById("methodMessage").innerHTML = "you want select method"
    }
    const makePurchaseForm = document.getElementById("makePurchase");

    // makePurchaseForm.method = "POST",
    // makePurchaseForm.action = "/orderPost"
    // makePurchaseForm.submit()

    const amount1 = AMOUNT || amount
    console.log(amount +"coupon_name")
    const body = {
      method:method,
      address:addressId,
      coupon:COUPON_NAME,
      amount:amount1
    };

    const response = await fetch('/orderPost',{
                    method:"POST",
                    headers:{
                      "Content-Type": "application/json"},
                    body:JSON.stringify(body)
                })

    if(response.ok){
      const data = await response.json();
        console.log(data.amount);

        if (data.success) {
          console.log("options")
          const options = {
                        key: data.key_id,
                        amount: data.amount,
                        currency: 'INR',
                        name: data.productName,
                        description: data.description,
                        image: 'https://dummyimage.com/600x400/000/fff',
                        order_id: data.order_id,
                        handler: async function  (response) {
                            alert('Payment Succeeded');
                            const body = {
                              method:method,
                              address:addressId,
                              amount:amount1,
                              orderId:data.order_id,
                              coupon:COUPON_NAME || undefined
                            };
                          console.log(body);
                            const URL = `/successCart`;
                            console.log(URL)
                            try {
                                 const res = await fetch(URL, {
                                method: "POST",
                                headers: {
                                  "content-type": "application/json"
                                },
                                body: JSON.stringify(body)
                              });

                              if (res.ok) {
                                alert("Payment added to the database");
                                location.href="/orderPage"
                              }
                            } catch (error) {
                              console.log(error.message)
                            }
                            
                        },
                        prefill: {
                            contact: data.contact,
                            name: data.name,
                            email: data.email
                        },
                        notes: {
                            description: data.description
                        },
                        theme: {
                            color: '#2300a3'
                        }
                    };
                    const razorpayObject = new Razorpay(options);
                    razorpayObject.on('payment.failed', function (response) {
                        alert('Payment Failed');
                    });
                    razorpayObject.open();
                }else{

                  console.log("its ok");
                  popSucc()
                  location.href="/orderPage"
                 }
    }else{
      popOut()
    }
   

   })


  

   purchaseSingleProduct?.addEventListener("click",async (e)=>{
     e.preventDefault();
     const amount = document.querySelector(".price").innerText
     console.log(COUPON_NAME)
     console.log(AMOUNT)
     const amount1 = AMOUNT || amount
     console.log(amount1)
    if(!addressId){
      return document.getElementById("addressMessage").innerHTML = "you want select address"
    }
    if(!method){
      return document.getElementById("methodMessage").innerHTML = "you want select method"
    }

    const makePurchaseFrom = document.getElementById("makePurchase")  
    const quantityInput = makePurchaseFrom.querySelector("[name='quantity']");
    const Id = quantityInput.getAttribute("productId");
    // const productId
 
    const body = {
      method:method,
      address:addressId,
      amount: amount1,
      quantity:quantityInput.value,
      coupon:COUPON_NAME
    };


    const response = await fetch(`/singleOrderPost/${Id}`,{
                    method:"POST",
                    headers:{
                      "Content-Type": "application/json"},
                    body:JSON.stringify(body)
                })

    if(response.ok){
      const data = await response.json();
        console.log(data.amount);

        if (data.success) {
          console.log("options")
          const options = {
                        key: data.key_id,
                        amount: data.amount,
                        currency: 'INR',
                        name: data.productName,
                        description: data.description,
                        image: 'https://dummyimage.com/600x400/000/fff',
                        order_id: data.order_id,
                        handler: async function  (response) {
                            const body = {
                              method:method,
                              address:addressId,
                              amount:amount1,
                              quantity:quantityInput.value,
                              orderId:data.order_id,
                              coupon:COUPON_NAME || undefined,
                            };
                          console.log(body);
                            const URL = `/success/${Id}`;
                            console.log(URL)
                            try {
                                 const res = await fetch(URL, {
                                method: "POST",
                                headers: {
                                  "content-type": "application/json"
                                },
                                body: JSON.stringify(body)
                              });

                              if (res.ok) {
                                alert("Payment added to the database");
                                location.href="/orderPage"
                              }
                            } catch (error) {
                              console.log(error.message)
                            }
                            
                        },
                        prefill: {
                            contact: data.contact,
                            name: data.name,
                            email: data.email
                        },
                        notes: {
                            description: data.description
                        },
                        theme: {
                            color: '#2300a3'
                        }
                    };
                    const razorpayObject = new Razorpay(options);
                    razorpayObject.on('payment.failed', function (response) {
                        alert('Payment Failed');
                    });
                    razorpayObject.open();
                }else{

        console.log("its ok");
        alert("order submited")
        location.href="/orderPage"
        
      }
    }else{
      popOut()
    }

   })


   function popSucc() {
  new swal({
      title: "thanks",
      text: "order is submited ",
      // icon: "warning",
      buttons: true,
      dangerMode: true,
    });
}
   

function popOut() {
  new swal({
      title: "Oop!",
      text: "out of stock ",
      // icon: "warning",
      buttons: true,
      dangerMode: true,
    });
}
  




  </script>
<%- include("../layouts/profilefooter.ejs") %>