<%- include("../layouts/adminhead.ejs") %>
<div id="wrapper">

    <!-- Sidebar -->
   

    <%- include("../layouts/userProfileSide.ejs") %>
    <!-- End of Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column my-4">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="container p-4">
                    <div class="row">
                        <dt class="col-3">Name:</dt>
                        <dd class="col-9"><%= userData.name %></dd>
            
                        <dt class="col-3">Email:</dt>
                        <dd class="col-9"><%= userData.email %></dd>
            
                        <dt class="col-3">Phone no:</dt>
                        <dd class="col-9"><%= userData.mobile%></dd>
                        <div class=" my-4 d-sm-flex justify-content-between align-items-center">
                            <div class="px-3 py-3 ">
                                <form action="/resetpassword" method="post">
                                    <input type="hidden" name="entrie" value="true" id="">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary "><i
                                    class="fas fa-download fa-sm text-white-50"></i>change Password</button>
                                </form>
                            </div>
                            <div class="px-3 py-3">
                                <a href="/proflieEdit" class="d-none d-sm-inline-block btn btn-sm btn-primary "><i
                                    class="fas fa-download fa-sm text-white-50"></i> Edit profile</a>
                            </div>
                        </div>
                    
                        <div class="mt-3">
                            <dt> Address :</dt>
                            <% address.forEach((element)=>{ %>
                            <div class="shadow my-4 d-sm-flex justify-content-between align-items-center">
                                <div class="px-3 py-3 ">

                                    <%= element.name %> , 
                                    <%= element.houseName %> , 
                                    <%= element.street %> 
                                    , <%= element.city %> 
                                    , <%= element.state %> 
                                     , <%= element.phone %> 
                                    , <%= element.postalCode %> 
                                </div>
                                <div class="px-3 py-3">
                                    <a href="/editAddress/<%=element._id%>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        class="fas fa-download fa-sm text-white-50"></i>  edit</a>
                                </div>
                            </div>
                            <% }) %>
                            <div class=" pt-1 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary text-center" data-toggle="modal" id="addButton" data-target="#myModal">
                                    ADD
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Add Address</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <!-- Your form fields for address properties go here -->
                            <form id="addressFrom" method="post">
                                <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                <label for="houseName">House Name:</label>
                                <input type="text" class="form-control" id="houseName" name="houseName" required>
                                </div>
                                
                                <div class="form-group">
                                <label for="houseName">street:</label>
                                <input type="text" class="form-control" id="street" name="street" required>
                                </div>
                                <div class="form-group">
                                <label for="houseName">City:</label>
                                <input type="text" class="form-control" id="city" name="city" required>
                                </div>
                                <div class="form-group">
                                <label for="houseName">state:</label>
                                <input type="text" class="form-control" id="state" name="state" required>
                                </div>
                                <div class="form-group">
                                    <div class="secondary"> <span id="error" ></span></div>
                                <label for="houseName">Phone:</label>
                                <input type="number" class="form-control" id="phoneAddress"  name="phone" required>
                                </div>

                                <div class="form-group">
                                <label for="houseName">PostalCode:</label>
                                <input type="number" class="form-control" id="postalCode" name="postalCode" required>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit" />
                                <!-- Add more fields for other properties -->
                            </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- modal closed -->
                </div>
            </div>
        </div>

    </div>

   
</div>



<script>
    const phoneNO = document.getElementById("phoneAddress")
    const errMes = document.getElementById("error")

    document.getElementById("addButton").addEventListener("click", function() {
      $('#myModal').modal('show');
    });
    const addressPost = document.getElementById("addressFrom");
    addressPost.addEventListener("submit",function(e){
        e.preventDefault();
        console.log(phoneNO.value.length )
        if(phoneNO.value.length !== 10){
           return errMes.innerHTML = "not 10 digit";
        }else{

            addressPost.action ="/addAddress"
                    addressPost.method="post"
                    addressPost.submit();
        }


    
    })
  </script>


<%- include("../layouts/profilefooter.ejs") %>